.hidden {
    display: none;
  }

#login-form {
    text-align: center;
}
#login-form input {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    outline: none;
    text-align: center;
}

#login-form input::placeholder {
    color: white;
}

#clock {
    margin-top: 200px;
    margin-bottom: 0px;
    text-align: center;
    font-size:100px;
    color: white;
} 

#greeting {
    margin-top: 0px;
    text-align: center;
    font-size:40px;
    color:white;
} 

#todo-form {
    margin-top: 50px;
    text-align: center;
}

#todo-form input{
    text-align: center;
    font-size: 25px;
    width: 450px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: white;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

#todo-form input::placeholder {
    color: white;
}

#todo-list {
    margin-top: 30px;
    text-align: center;
}

#todo-list li {
    font-size: 30px;
    list-style: none;
    padding-left: 0px;
    color: white;
}

#todo-list li button{
    height: 35px;
    width: 60px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 25px;
    color: white;
}

#weather {
    margin-top: 0px;
    text-align: center;
    color: white;
}
